@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.details-pokemon {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, minmax(220px, 320px));
  .main-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;

    > div {
      @include card;
      background-color: $white;
      width: 100%;
    }

    .left-data, .right-data {
      background-image: url("../../../../assets/img/pokebola.png");
      background-position: 120px 100%;
      background-repeat: no-repeat;
      padding: 1.5rem;
    }

    .left-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        color: $black-secondary;
        text-transform: capitalize;
        font-size: 30px;
        font-weight: bold;
        span {
          text-transform: capitalize;
        }
      }
      .content-data {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 30px;
        .data {
          font-size: 20px;
          width: 100%;
          line-height: 24px;
          display: flex;
          flex-wrap: wrap;
          margin: 7px 0;
          .subtitle {
            width: 40%;
          }
        }
      }
    }

    .right-data {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .id-pokemon {
        span {
          font-size: 50px;
          text-transform: capitalize;
        }
      }

      .pokebola-img {
        width: 70%;
        img {
          height: auto;
          width: 80%;
          max-width: 270px;
          position: relative;
        }

      }
    }

  }
  .supplementary-data {
    padding: 1rem;
    @include card;
    background-color: $white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-gap: 1rem;
    > div {
      @include card;
    }
  }
}

