//============= Size Screen Definitions =============
$phone: 400px;
$phone-wide:   480px;
$phable:      560px;
$table-small: 640px;
$table:       768px;
$table-wide:  1024px;
$desktop:      1248px;
$desktop-wide: 1440px;

//============= App Size Definitions =============
$height-topbar: 68px;
$height-breadcrumb: 42px;
$width-sidebar: 260px;

//============= App Styles Definitions =============
$border-radius-button: 3px;
$border-radius-input: 3px;
$border-radius-card: 4px;
$font-color-sidebar: #3A3E40;

//============= App Colors Definitions =============
$white: #FFFFFF;
$black-primary: #1D2125;
$black-secondary: #333A41;
$light-gray: gray;

$background: #e9ecef;

$border: #b7b9c4;

$font-family: Roboto, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

// Primary Colors
$primary-color: #FF4500;
$primary-color-hover: #9c2c01;
$primary-color-disabled: #fcb197;
$primary-color-disabled-font: #b67461;
$primary-color-active: #c43300;
$primary-color-boxShadow: #fdece7;
$primary-color-background: #eee4dc;

// Secondary Colors
$secondary-color: #6B7175;
$secondary-color-hover: #53585B;
$secondary-color-disabled: #EFF0F0;
$secondary-color-disabled-font: #BABDC0;
$secondary-color-active: #53585b;
$secondary-color-boxShadow: #dfe6e9;

// Tertiary Colors
$tertiary-color: #ff9800;
$tertiary-color-hover: #c17501;
$tertiary-color-disabled: #f5c678;
$tertiary-color-disabled-font: #fcb553;
$tertiary-color-active: #dd8a10;
$tertiary-color-boxShadow: #e7c16b;

$sidebar-color: #2e4595;
$sidebar-color-hover: #233571;
$sidebar-color-active: #5170dc;
$sidebar-color-font: #8bd684;

// Event Colors
$link-color: #0C73FF;
$link-color-hover: #005BD6;
$link-color-disabled: #70ADFF;

$info-color: #8294ED;
$info-color-hover: #566ee6;
$info-color-disabled: #DBE1FA;
$info-color-disabled-font: #AFBBF3;
$info-color-active: #5d75ef;

$success-color: #00AF3B;
$success-color-hover: #007A29;
$success-color-disabled: #E0FFEB;
$success-color-disabled-font: #7AFFA7;
$success-color-active: #019131;

$danger-color: #b51e1e;
$danger-color-hover: #b80028;
$danger-color-disabled: #cbb8b8;
$danger-color-disabled-font: #faa4a4;
$danger-color-active: #d20f0f;

$warning-color: #faf600;
$warning-color-font-color: #25201D;
$warning-color-hover: #c7c400;
$warning-color-disabled: #FFFEC7;
$warning-color-disabled-font: #C7C400;
$warning-color-active: #ddd904;

$dark-color: #333A41;
$dark-color-hover: #1D2125;
$dark-color-disabled: #CED4D9;
$dark-color-disabled-font: #F9FAFB;

$light-color: #EBF0F3;
$light-color-font-color: #333A41;
$light-color-hover: #CCD9E0;
$light-color-disabled: #F9FAFB;
$light-color-disabled-font: #B2BBC3;
